.mainCont{
    margin-top: 30px;
    padding: 10px 15px 20px 18px;
    background-color: #00af52;
    color: #ffffff;
}

.feature{
    font-size: 24px;
    text-align: center;

}
.secondCont{
    box-shadow: none;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    gap: 20px;
    border-radius: 20px;
    border: none;
    width: 64%;
    height: 15%;
    margin-left: 300px;

}
.started{
    margin-left: 25px;
    display: flex;
    gap: 10px;
}
.arrowImg{
    width: 10px;
    height: 10px;
    margin-top: 15px;
}