.mainCont{
    background-color: #F9FAFB;
}
.testify{
    margin-left: 25px;
}
.secondCont{
    width: 1118px;
    height: 515px;
    margin-top: 70px;
    margin-left: 66px;
        display: flex;
      flex-direction: row;

}
.items{
    margin-top: 100px;
    margin-left: 100px;


}
.slidingImage1{
    width: 110%;
    height: 60%;

}
.slidingImage2{
    width: 80%;
    height: 60%;


}
.slidingImage3{
    width: 100%;
    height: 60%;
}
.slidingImage{
    display: flex;
    margin-left: 100px;

}
.slidingImage2Cont{
    position: relative;
    right: 170px ;

}
.slidingImage3Cont{
    position: relative;
    right: 360px;
}
.circle1{
    width: 1.3%;
}
.circles{
    position: relative;
    bottom: 200px;
    margin-left: 450px;


}
.experience{
    font-size: 20px;
    opacity: 0.6;

}