.mainCont{
    display: flex;
    flex-direction: row;

}

.globe{
    height: 330px;
    width: 380px;
    margin-top: 50px;
    margin-left: 10px;

}
.secondCont{

    display: flex;
    flex-direction: column;
}
.fiftyFive{
    font-size: 70px;
}

.platform{
    width: 450px;
    height: 190px;
    font-size: 18px;

}
.daily{
    font-size: 22px;
    margin-top: -3rem;


}
.cut{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;

}
.round{
    width: 502px;
    height: 100px;
}
.country{
    margin-top: -6rem;
    margin-left: 77px;
}