.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*.secondCont{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/

/*}*/
.first{
    top: 105px;
    position: relative;
}
.last{
    margin-left: 330px;
}
.information{
    display: flex;
    flex-direction: column;
    margin-left: 60%;
}
.bbOne{
    height: 50px;
    width: 45%;

}
.bbTwo {
    height: 50px;
    width: 100%;
}
.bbThree {
    height: 60px;
    width: 100%;
}
.bbFour{
    height: 160px;
    width: 100%;
}
.contact{
    position: relative;
    bottom: 400px;
    font-size: 30px;
}