.mainCont{
    position: relative;
    bottom: 99px;
    height: 200px;
    width: 99.7%;
    background-color: #00af52;

}
.secondCont{
    background-color: #F9FAFB;
    margin-top: 100px;
    position: absolute;
    margin-left: 30%;
    text-align: center;
    width: 350px;
    height: 60px;
    gap: 1px;
    border-radius: 20px;
}
.thirdCont{
   margin-right: 95px;
    font-size: 10px;
    text-align: left;
    border: none;
    opacity: 0.3;
}
.sub{
    border-radius: 5px;
    border: none;
    opacity: 0.3;

}